.food{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1{
  font-size: 2.5em;
  padding: .5em;
}

img{
  max-width: 20em;
  border-radius: 10px;
}

.sobre-food{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}

.sobre-food h3{
  font-size: 1.5em;
  padding-bottom: 10px;
}

.sobre-food p{
  text-align: justify;
  font-size: 1.2em;
}

.actions{
  padding: 3em;
  display: flex;
  gap: 8em;
}

.actions a, .rm-btn{
  font-size: 20px;
  font-weight: 500;
  padding: .4em 1em;
  cursor: pointer;
  border: 1px solid;
  border-radius: 8px;
  transition: 0.4s;
}

.actions a{
  color: #b07424;
}

.actions a:hover{
  color: #fff;
  background-color: #b07424;
}

.actions .rm-btn{
  color: #d22222;
  background-color: #fff;
}

.actions .rm-btn:hover {
  color: #fff;
  background-color: #d22222;
}

.comments{
  font-size: 1em;
  margin-bottom: 2em ;
  padding: 1.5em 0;
  width: 50%;
}

.comments .titulo{
  text-align: center;
}

.comment-container{
  text-align: left;
  border-bottom: 1px solid;
  padding: 1em 0;
}

.comment-username{
  font-size: 1em;
}



