<form>

  <div class="form-group">
    <label for="titulo">Qual o nome desse prato?</label>
    <input type="text" id="titulo" placeholder="Digite o nome" required>
  </div>

  <div class="form-group">
    <label for="descricao">Fale sobre sua comida:</label>
    <input type="text" id="descricao" placeholder="Descreva o que você fez" required>
  </div>

  <div class="form-group">
    <label for="imagem">Compartilhe a foto que mais representa seu prato!</label>
    <input type="file" id="imagem" placeholder="oi" required>
  </div>

  <input type="submit" value="{{btnText}}">

</form>
